body{
    background:#F6F6F8 url("/images/bgcnt.jpg") repeat-x 0 0% ;
}

div#content-list-items{
    border:1px solid #CCCCCC;
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 10px #999;
    -moz-box-shadow: 1px 1px 10px #999;
     filter: shadow(color=#999999, direction=135, strength=1);
    -moz-border-radius:5px 5px 5px 5px;
    padding: 5px;
    min-height: 550px;
}

ul#list-items {
    list-style:none;
    margin:0;
    padding:0;

}
ul#list-items li {
    margin:2px;
    padding:2px;
    border:2px solid #CECECE;
    float:left;
    width:140px;
    height:250px;
}

ul#list-items li:hover{
    border:2px solid #0088cc;
}

.panelr{
  background: #151515;
  padding: 5px;
}

.panelr h3{
    color: #ffffff;
}

.panelr ul li,.panell ul li {
    list-style: none;
}

.panell h1,.panell h3{
    padding: 5px;
    background: #0088cc;
    color: #FFFFFF;
}

.left{
    float: left;
}

.clearfix{
    clear: both;
}

.offer {
width: 310px;
    float:left;
    margin:2px;
    padding:2px;

}

.target, .offered {
    width: 150px;
    float:left;
}
.offered{
}

