{% extends 'base.html' %}
{%load thumbnail %}

  {%block meta %}
  <meta property="fb:app_id" content="{{facebook_settings.app_id}}" / >
  <meta property="og:title" content="{{item.name}}" />
  <meta property="og:type" content="{{facebook_settings.namespace}}:item" />
  <meta property="og:url" content="http://{{request.site.domain}}{%url item_detail item.id%}" />
  <meta property="og:image" content="http://{{request.site.domain}}{{MEDIA_URL}}{{item.get_picture}}" />
  <meta property="og:description" content="{{item.description}}" />
  {% endblock %}

{%block content %}
{% thumbnail item.picture "300"  as img %}
  <img src="{{img.url}}"/>
{%endthumbnail%}
<h1>{{item.name|title}}</h1>
<p>owned by {{item.owner}}</p>
<div class="item_actions">
    <button class="btn primary" onclick="javascript:document.location.href='{% url make_offer item.pk %}'">Make Offer</button>
</div>
<p>{{item.description}}
</p>
{% endblock %}
