{% extends "index.html"%}
{%load thumbnail %}
{%block list %}


  <ul id="list-items">
    <li id="addnew">
    <a href="{%url add_item%}">
      <div>
        <img src="{{MEDIA_URL}}img/add_item.jpg"/>
      </div>
      <strong> add new item </strong>
    </a>
    </li>
  {%for item in tradeitems %}
  <li>
  <a href="{% url item_detail item.id %}">
  <div>
    {%thumbnail item.picture "140x140"  as img %}
      <img src="{{img.url}}" />
    {% endthumbnail %}
  </div>
    <strong>{{item.name|truncatewords:4}}</strong>
    <p>
      {{item.description|truncatewords:10}}
    </p>
    <!--p style="font-size:9px;">
      owned by {{item.owner.full_name}}
    </p-->
  </a>
  </li>
  {%endfor %}

  </ul>
  <div class="clearfix"></div>

{% endblock %}

