{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div id="target_item" class="span12">
        <h2>You offer to trade {{item.owner.first_name}}'s {{item}} for:</h2>
    </div>
</div>
<div class="row">
    <div class="span6">
        <p>A new item.</p>
        <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="action" value="from_new" />
            {% with item_form as form %}
            {% include 'tradeitem/item_form.html' %}
            {% endwith %}
        </form>
    </div>
    <div class="span5">
        {% if user_items %}
        <p>An existing item.</p>
        <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            {% with offer_form as form %}
            {% include 'tradeitem/offer_form.html' %}
            {% endwith %}
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
