{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
<ul id="list-offers">
  {% for item in offers %}
  <li class="{{item.status}}-item offer">
  <!--p>status: <strong>{{item.status}}</strong></p-->
  {%with item.target as item %}
    <div class="target">
    <h3>Target</h3>
      <div>
          {% thumbnail item.picture "140x140" as img%}
          <img src="{{img.url}}" />
            {% endthumbnail %}
        </div>
        <strong>{{item.name|truncatewords:4}}</strong>
        <p>
            {{item.description|truncatewords:10}}
        </p>
    </div>
    {%endwith %}
  {%with item.offered as item %}
    <div class="offered">
    <h3>Offered</h3>
      <div>
          {% thumbnail item.picture "140x140" as img%}
          <img src="{{img.url}}" />
            {% endthumbnail %}
        </div>
        <strong>{{item.name|truncatewords:4}}</strong>
        <p>
            {{item.description|truncatewords:10}}
        </p>
    </div>
    {%endwith %}


    </li>
  {% endfor %}
</ul>
{% endblock %}
